@media (max-width: 1065px) {
    #categorias .categorias {
        grid-template-columns: repeat(2, 1fr);
    }

    .none {
        display: block;
    }

    .block1 {
        display: none;
    }

    #pratos .pratos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 920px) {
    body .home {
        background: blanchedalmond url(../assets/images/pexels-enginakyurt-2673353.jpg) no-repeat center center/cover;
    }

    body .home h1 {
        color: rgb(235, 164, 31);
    }

    body .home p {
        color: white;
    }

    #home img {
        display: none;
    }

    .home #chamada {
        padding-left: 30px;
    }

    .block2 {
        display: none;
    }

    header #hamburger {
        color: #222121ba;
    }

    header #hamburger:hover {
        color: black;
    }
}

@media (max-width: 780px) {
    #pratos .pratos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 740px) {
    header {
        background: linear-gradient(to left, rgb(169, 111, 3), rgb(183, 119, 1));
    }

    header nav {
        display: none;
    }

    #categorias .categorias {
        grid-template-columns: 1fr;
    }


    .sobre .flex img {
        display: none;
    }

    header .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: #ffffffb9;
        position: absolute;
        top: 7px;
        right: 20px;
    }
}

@media (max-width: 500px) {
    #pratos .pratos {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .home #chamada button {
        display: none;
    }

    .home #chamada p {
        margin: 0 2px 0 0;
    }
}